{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <h1 class="my-2 text-center">List classement</h1>
    <div class="container row mt-3 float-none">
        {% if categ | length > 0 %}
            <table class="table table-striped table table-hover bg-secondary">
                <thead class="text-white text-uppercase">
                    <tr>
                        <th>Catégorie</th>
                        <th class="text-danger">Action</th>
                    </tr>
                </thead>
                {% for l in categ %}
                <tbody class="bg-white">
                    <tr>
                        <td>{{l.Title|upper}}</td>
                        <td class="col-md-1">
                            <a href="{{path('class_edit',{'slug':l.RoleSlug})}}" class="btn btn-sm"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a onclick="return confirm('Etes vous sur d avoir supprimer le projet nommé  {{l.Title|upper}} ?')" href="{{path('delcateg',{'suppid':l.id})}}" class="btn btn-sm"><i class="fas fa-trash text-danger"></i></a>
                        <td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        {% else %}
            <p class="h1 text-danger text-center"><em>Panier vide</em></p>
        {% endif %}
    </div>
</div>
{% endblock %}