{% extends 'base.html.twig' %}
{% block head %}{% endblock head %}
{% block body %}
    <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="display-10">Bienvenue sur Z-Link 
                </div>
            </div>
        <div class="container mt-3">
            <div class="row ">
                <div class="container row">
                    {% include('page/additif.html.twig') %}
                </div>
            </div>
        </div>
    </div>
    {% include('complement/headfooter.html.twig') %}
    {% include('complement/footer.html.twig') %}
{% endblock body %}