<footer>
    <div class="float-start row">
        <div class="float-start col-md-3">email</div>
        <div class="float-start col-md-4">facebook</div>
        <div class="float-start col-md-3">Contact</div>
    </div>
    <p class="float-end">Copyright &copy; 2023 By Z-DEV | Toutes droits sont reservé.</p>
</footer>