<footer>
    <div class="float-start col-md-8 d-block">
        <div class="col-4">
            <a class="float-start text-white col-1" href="https://www.facebook.com/profile.php?id=100005445888886"><i class="fa-sharp fa-solid fa-envelope float-start col-md-4"></i></a>
            <a class="float-start text-white col-1" href="https://www.facebook.com/profile.php?id=100005445888886"><i class="fa-brands fa-facebook float-start col-md-4"></i></a>
            <a class="float-start text-white col-1"  href="https://www.facebook.com/profile.php?id=100005445888886"><i class="fa-solid fa-phone float-start col-md-4"></i></a>
        </div>
    </div>
    <div class="float-end row ">
        <p class="float-end">Copyright &copy; 2023 By Z-DEV | Toutes droits sont reservé.</p>
    </div>
</footer>