<div class="display-6 card-white text-dark border-radius col-md-5 offset-3" id="sugHead">
    <p class="fs-6 text-white" id="sugheadtext" >Laisse nous votre contact</p>
    <div class="row container fs-6 fa-42-flex float-start">
        {{ include ('data/data.html.twig', {form: form,button:('Enregistrer')} )}}
    </div>
</div>